{% extends 'repository/index.html' %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block navCode %}
    <li class="nav-item">
      <a class="nav-link active" style=" color: black;" id="code" href="{% url 'repository' id=repository.id %}" aria-current="page">{% bs_icon 'code' size='1em' %} Code</a>
    </li>
    {% endblock %}

    {% block navProjects %}
    <li class="nav-item">
      <a class="nav-link" style="border-bottom:3px solid darkviolet;color: black;" href="{% url 'project:projects' id=repository.id  %}">{% bs_icon 'layout-text-window-reverse' size='1.3em' %} Projects</a>
    </li>
    {% endblock %}

    {%block page_content%}
        <div class="tab-pane container active" id="milestones" style="margin-right: 60px;">
            <a href="{% url 'project:newProject' id=repository.id %}" style="margin-left: 763px; margin-top: -25px;" type="button" class="btn btn-success" >New project</a>
        
        <div class="card" style="width: 870px; margin-top: 15px;">
          <div class="card-header" style="background-color: #d7f0db;">
              {% bs_icon 'card-checklist' size='1.2em' %} <a style="color: darkgray" href="#" id="open" > {{repository.get_opened_projects_number}} Open </a>
              <span style="margin-left: 15px;"></span>
              {% bs_icon 'archive' size='1.1em' %}<a style="color:darkgray;" href="#" id="close" >{{repository.get_closed_projects_number}} Closed </a>
          </div>

          {% if projects %}
          <div class="opened" id="Div1">
          <ul class="list-group list-group-flush">
                  {% for p in projects %} 
                  {% if p.status == 'Opened' %}
                  <li class="list-group-item"> 
                    <div class="row" style="margin-left: 5px; margin-top: 5px;">
                      <h5>{{p.name}}</h5>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-success">{{repository.status}}</span>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-info">{{p.status}}</span>
                    </div>
                    <div style="margin-left: 8px; margin-top: 2px;">
                      <p >{{p.description}}</p>
                      <a href="{% url 'project:getProjectById' id=p.id %}" class="link-primary">Edit</a>
                      <a href="{% url 'project:closeProject' id=p.id %}" class="link-primary" style="margin-left: 10px;">Close</a>
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}

          {% else %}
          <p>There are no  projects yet.</p>
          {% endif %}
          </ul> 
      </div>

          {% if projects %}
          <div class="closed" id="Div2" style="display: none;">
          <ul class="list-group list-group-flush">
                  {% for p in projects %} 
                  {% if p.status == 'Closed' %}
                  <li class="list-group-item"> 
                    <div class="row" style="margin-left: 5px; margin-top: 5px;">
                      <h5>{{p.name}}</h5>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-success">{{repository.status}}</span>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-danger">{{p.status}}</span>
                    </div>
                    <div style="margin-left: 8px; margin-top: 2px;">
                      <p >{{p.description}}</p>
                    </div>
                    <a href="{% url 'project:reopenProject' id=p.id %}" class="link-primary" style="margin-left: 10px;">Reopen</a>
                  </li>
                  {% endif %}
                  {% endfor %}
          {% endif %}
          </ul> 
      </div>
      </div>
        </div>
        <!--Modal-->
        <div class="modal" id="myModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Fork {{repository.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Where should we fork {{repository.name}} ?</p>
                <a class="tooltip-test" title="Will be created as {{request.user}}/{{repository.name}}" href="{% url 'forkRepository' id=repository.id  %}"  style="font-size: large;"> {% bs_icon 'person-circle' size='1.2em' %} {{request.user}}</a>
              </div>
            </div>
          </div>
        </div>
        {%endblock%}

        {% block javascript %}
        <script>
            document.getElementById('searchAll').style.display = 'none';
            var el = document.getElementById('open');
            el.onclick = opened;
            document.getElementById('open').style.color = "black";
    
            function searchAll(){
            document.getElementById('searchAll').style.display = 'block';
            document.getElementById('searchRepo').style.display = 'none';
            }

            function showModal() {
              $('#myModal').modal('show')
            }
    
            var el2 = document.getElementById('close');
            el2.onclick = closed;
    
            function opened() {
                if (document.getElementById('Div1')) {
                    document.getElementById('Div1').style.display = 'block';
                    document.getElementById('Div2').style.display = 'none';
                    document.getElementById('open').style.color = "black";
                    document.getElementById('close').style.color = "darkgray";
                }
            }
    
            function closed(){
                if (document.getElementById('Div2')) {
                    document.getElementById('Div2').style.display = 'block';
                    document.getElementById('Div1').style.display = 'none';
                    document.getElementById('close').style.color = "black";
                    document.getElementById('open').style.color = "darkgray";
                }
            }
        </script>
        {% endblock %}
</body>
</html>