{% extends 'home/profile.html' %}
{% block page_content  %}
<div class="tab-pane container " id="users">
    <table class="table">
        <tbody>
            {% for user in all_users %}
                <tr>
                    <td>
                        <small style="margin-left: 15px;color: gray;">
                            Name:  <b>{{user.first_name}}</b>
                        </small>
                    </td>
                    <td>
                        <small style="margin-left: -25px;color: gray;">
                            Surname: <b>{{user.last_name}}</b>
                        </small>
                    </td>
                    <td>
                        <small style="margin-left: -25px;color: gray;">
                            Email: <b>{{user.email}}</b>
                        </small>
                    </td>
                    <td>
                        <small style="margin-left: -25px;color: gray;">
                            Username: <b>{{user.username}}</b>
                        </small>
                    </td>
                    <td>
                        <a  href="{% url 'go_to_edit_user' id=user.id %}" style="margin-left: 200px; " type="button" class="btn btn-success" >Edit</a> 
                        <a  href="{% url 'delete_user' id=user.id %}" style="margin-left: 20px; " type="button" class="btn btn-success" >Delete</a> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}