{% extends 'searchResult.html' %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} UksGithub {% endblock %}</title>
</head>
<body>

  {% block navRepositories %}
  <li class="nav-item" style="border-style: outset; ">
    
    <a class="nav-link " href="#">Repositories <span class="badge badge-success" style="margin-left: 10px;">{{foundRepositoriesNumber}}</span></a>
    
  </li>
  {% endblock %}
  {% block navIssues %}
  <li class="nav-item" style="border-style: outset; border-left-color: darkviolet; border-left-width: 8px;">
    
    <form name="issuesForm" id="issuesForm" method="POST" action="{% url 'searchedIssues' %}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" hidden  aria-label="Search" name="foundIssues" value="{{foundIssues}}" >
      <input class="form-control mr-sm-2" hidden  aria-label="Search" name="foundCommits" value="{{foundCommits}}" >
    <a class="nav-link" onclick="submitForm()">Issues<span class="badge badge-success" style="margin-left: 64px;">{{foundIssuesNumber}}</span></a>
    </form>
    
  </li>
  {% endblock %}
    {% block page_content %} 
    <div class="tab-pane container active" id="milestones" style="margin-right: -190px; margin-top: -142px;">
        <h5 style="margin-left: -99px;">{{foundIssuesNumber}} issue results</h5>
    {% if issues %}
        {% for i in issues %}
        <div class="card border-secondary mb-3" style="margin-top: 15px; margin-left: -95px; max-width: 730px;">
            <div class="card-header" style="background-color: #d7f0db;">
                {% bs_icon 'file-earmark-text' size='1.2em' color='green' %} <span style="padding-left:15px">{{i.issue_title}}</span>  
            </div>
            <div class="card-body">
            <p>{{i.description}}</p>
            <a href="#" class="link-primary">Visit</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>There are no issues.</p>
    {% endif %}
    </div>
    {% endblock %}
   
</body>
</html>