{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} UksGithub {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    {% block content %}
    <div class="welcome">
        <div class="card" style="width: 200px;position: absolute;top: 120px;margin-left: 30px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);">
            <img src="{% static 'images/img_avatar.png' %}" alt="Avatar" style="width:100%;">
            <div class="container" style="font-size: 15px;">
                <b>{{user.first_name}} {{user.last_name}}</b>
                <br>
                <i style="color: silver;">{{user.get_username}}</i>
                <br>
                <i style="color: silver;">{{user.email}}</i>
                <br>
                <hr>
                <a href="#" class="btn btn-primary btn-sm">Edit profile</a>
            </div>
        </div>
    </div>
    

    <div style="margin-left: 300px;" class="elements">
      <ul class="nav">
        {% block navRepos %}
          <li class="nav-item">
            <a class="nav-link active" style="color: black;"  href="{% url 'user_repositories' id=user.id %}"> {% bs_icon 'pc-display-horizontal' size='1.2em' %} Repositories</a>
          </li>
          {% endblock %}

          {% block navProjects %}
          <li class="nav-item">
            <a class="nav-link" style="border-bottom:3px solid darkviolet; color: black;" href="{% url 'user_projects' id=user.id %}">{% bs_icon 'layout-text-window-reverse' size='1.2em' %} Projects</a>
          </li>
          {% endblock %}
        </ul>

        {%block page_content%}
        <div class="tab-pane container active" id="milestones" style="margin-right: 60px;">
        <div class="card" style="width: 870px; margin-top: 15px;">
          <div class="card-header" style="background-color: #d7f0db;">
              {% bs_icon 'card-checklist' size='1.2em' %} <a style="color: darkgray" href="#" id="open" > {{repository.get_opened_projects_number}} Open </a>
              <span style="margin-left: 15px;"></span>
              {% bs_icon 'archive' size='1.1em' %}<a style="color:darkgray;" href="#" id="close" >{{repository.get_closed_projects_number}} Closed </a>
          </div>

          {% if projects %}
          <div class="opened" id="Div1">
          <ul class="list-group list-group-flush">
                  {% for p in projects %} 
                  {% if p.status == 'Opened' %}
                  <li class="list-group-item"> 
                    <div class="row" style="margin-left: 5px; margin-top: 5px;">
                      <h5>{{p.name}}</h5>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-success">{{repository.status}}</span>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-info">{{p.status}}</span>
                    </div>
                    <div style="margin-left: 8px; margin-top: 2px;">
                      <p >{{p.description}}</p>
                      <a href="{% url 'project:getProjectById' id=p.id %}" class="link-primary">Edit</a>
                      <a href="{% url 'project:closeProject' id=p.id %}" class="link-primary" style="margin-left: 10px;">Close</a>
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}

          {% else %}
          <p>There are no  projects yet.</p>
          {% endif %}
          </ul> 
      </div>

          {% if projects %}
          <div class="closed" id="Div2" style="display: none;">
          <ul class="list-group list-group-flush">
                  {% for p in projects %} 
                  {% if p.status == 'Closed' %}
                  <li class="list-group-item"> 
                    <div class="row" style="margin-left: 5px; margin-top: 5px;">
                      <h5>{{p.name}}</h5>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-success">{{repository.status}}</span>
                      <span style="height: 20px; margin-left: 10px; margin-top: 4px;" class="badge badge-pill badge-danger">{{p.status}}</span>
                    </div>
                    <div style="margin-left: 8px; margin-top: 2px;">
                      <p >{{p.description}}</p>
                    </div>
                    <a href="{% url 'project:reopenProject' id=p.id %}" class="link-primary" style="margin-left: 10px;">Reopen</a>
                  </li>
                  {% endif %}
                  {% endfor %}
          {% endif %}
          </ul> 
      </div>
      </div>
        </div>
        {%endblock%}
    </div>  
      {%endblock%}  

      {% block javascript %}
        <script>
            var el = document.getElementById('open');
            el.onclick = opened;
            document.getElementById('open').style.color = "black";
    
    
            var el2 = document.getElementById('close');
            el2.onclick = closed;
    
            function opened() {
                if (document.getElementById('Div1')) {
                    document.getElementById('Div1').style.display = 'block';
                    document.getElementById('Div2').style.display = 'none';
                    document.getElementById('open').style.color = "black";
                    document.getElementById('close').style.color = "darkgray";
                }
            }
    
            function closed(){
                if (document.getElementById('Div2')) {
                    document.getElementById('Div2').style.display = 'block';
                    document.getElementById('Div1').style.display = 'none';
                    document.getElementById('close').style.color = "black";
                    document.getElementById('open').style.color = "darkgray";
                }
            }
        </script>
        {% endblock %}
</body>

