{% extends 'repository/index.html' %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block navCode %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'repository' id=repository.id %}" style=" color: black;" id="code" aria-current="page">{% bs_icon 'code' size='1em' %} Code</a>
      </li>
    {% endblock %}

    {% block navLabels %}
      <li class="nav-item">
        <a class="nav-link" id="labels" style="border-bottom:3px solid darkviolet;color: black;" href="{% url 'labels' id=repository.id  %}"> {% bs_icon 'tag' size='1.3em' %} Labels</a>
      </li>
    {% endblock %}
    
    {%block page_content%}
    {% if labels %}
    <div class="tab-pane container active" id="milestones" style="margin-right: 180px;">
      {% include 'messages.html' %}  
      <a href="{% url 'newLabel' id=repository.id %}" style="margin-left: 1000px; margin-top: -35px;" type="button" class="btn btn-success" >New label</a>
        <div class="card" style="width: 1100px; margin-top: 15px;">
            <div class="card-header">
                {% bs_icon 'tag' size='1.3em' %}  Labels 
            </div>
            <ul class="list-group list-group-flush">
                {% for l in labels %}   
                <li class="list-group-item" style="height: 65px;"> 
                  <span class="badge badge-pill d-inline-flex align-items-center justify-content-center  "
                  style="margin-top: 5px; margin-left: 5px; font-size: 0.9em;  height: 30px;  
                  background-color:{{l.color}}">{{l.name}}
                  </span>
                  <div class="row">
                  <label style=" margin-left: 250px; margin-top: -30px;">{{l.description}}</label>
                  </div>
                  <div style="margin-left: 955px; margin-top: -30px;">
                  <a href="{% url 'getLabelById' id=l.id %}" class="link" style="color: black;" >Edit</a>
                  </div>
                  <div style="margin-top: -25px; margin-left: 1000px;">
                  <a href="#" id="{{l.id}}" onclick="askToDeleteLabelModal(this.id)" class="link" style=" color: black;">Delete</a>
                  <!-- DELETE MODAL -->
                  <div class="modal" id="delete_label_{{l.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Do you want to delete label with name <i>{{l.name}}</i> ?</p>
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-primary" href="{% url 'deleteLabel' id=l.id %}" role="button">Yes</a>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
    <p>There are no labels yet.</p>
    {% endif %}
    </div>
    <!--Modal-->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Fork {{repository.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Where should we fork {{repository.name}} ?</p>
            <a class="tooltip-test" title="Will be created as {{request.user}}/{{repository.name}}" href="{% url 'forkRepository' id=repository.id  %}"  style="font-size: large;"> {% bs_icon 'person-circle' size='1.2em' %} {{request.user}}</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block javascript %}
    <script>
      document.getElementById('searchAll').style.display = 'none';

      function searchAll(){
        document.getElementById('searchAll').style.display = 'block';
        document.getElementById('searchRepo').style.display = 'none';
      }

      function showModal() {
            $('#myModal').modal('show')
      }

      setTimeout(function(){
        if ($('#msg').length > 0) {
          $('#msg').remove();
        }
      }, 2000)
      function askToDeleteLabelModal(id) {
        console.log(id)
        $('#delete_label_' + id).modal('show')
      }
    </script>
    {% endblock %}
</body>
</html>