{% extends 'repository/index.html' %}
{% load static %}

{% load crispy_forms_tags %}

<body>
    
{% block page_content %}
<div>
    <form action="" style="width: 25%; margin: auto;" method="POST">
        <h2>Create branch</h2>
        {% csrf_token %}
        {{form|crispy}}
        <div class="alert alert-danger" role="alert" {% if error_name == False %} hidden {% endif %}  >
            {{ error_name_message }}    
        </div>
        <button type="submit" class="btn btn-primary">Create branch</button>
    </form>
</div>

{% endblock %}

</body>


