{% extends 'repository/index.html' %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block navCode %}
    <li class="nav-item">
      <a class="nav-link active" style=" color: black;" id="code" href="{% url 'repository' id=repository.id %}" aria-current="page">{% bs_icon 'code' size='1em' %} Code</a>
    </li>
    {% endblock %}

    {% block navMilestones %}
      <li class="nav-item">
        <a class="nav-link" id="milestones" style="border-bottom:3px solid darkviolet;color: black;" href="{% url 'milestones' id=repository.id  %}">{% bs_icon 'signpost' size='1em' %} Milestones</a>
      </li>
    {% endblock %}

    {%block page_content%}
    <div class="tab-pane container active" id="milestones" style="margin-right: 120px;">
      <a href="{% url 'newMilestone' id=repository.id %}" style="margin-left: 834px; margin-top: -25px;" type="button" class="btn btn-success" >New milestone</a>
  
      <div class="card" style="width: 1000px; margin-top: 15px; margin-left: -30px;">
        <div class="card-header" style="background-color: #d7f0db;">
            {% bs_icon 'signpost' size='1.1em' %} <a style="color: darkgray" href="#" id="open" > {{repository.get_opened_milestones_number}} Open </a>
            <span style="margin-left: 15px;"></span>
            {% bs_icon 'check' size='1.8em' %}<a style="color:darkgray;" href="#" id="close" >{{repository.get_closed_milestones_number}} Closed </a>
        </div>
        {% if milestones %}
        <div class="opened" id="Div1">
          <ul class="list-group list-group-flush" style="margin-top: 10px;">
            {% for m in milestones %} 
            {% if m.status == 'Opened' %}
            <li class="list-group-item"> 
            <a  style="color: black; font-size: x-large;" href="{% url 'seeMilestone' id=m.id %}" class="card-title">{{m.title}}</a>
            <div class="progress" style="width: 600px; margin-top: -20px; margin-left: 350px;">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{m.get_completed_percentage}}%" aria-valuenow="{{m.get_completed_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div style="margin-left: 350px; margin-top: 10px;" class="row">
            <p> <b>{{m.get_completed_percentage}}%</b>  complete</p>
            <a href="#" style="margin-left: 20px; color: black;" > <b>{{m.get_opened_issues_number}}</b> open</a>
            <a href="#" style="margin-left: 20px; color: black;"> <b>{{m.get_closed_issues_number}}</b> closed </a>
            </div>
            <p class="card-text" style="margin-top: -40px;">{{m.description}}</p>
            {% if m.due_date_passed %}
            <p class="card-text"><span style="color: red;">{% bs_icon 'exclamation-triangle' size='1em' %}  Passed due: {{m.passed_days_count}} days ago </span></p>
            {% elif m.due_date != None %}
            <p class="card-text">{% bs_icon 'calendar-check' size='1em' %} Due by: {{m.due_date}}</p>
            {% else %}
            <p class="card-text">{% bs_icon 'calendar-check' size='1em' %} No due date</p>
            {% endif %}
            <a href="{% url 'getMilestoneById' id=m.id %}" class="link-primary">Edit</a>
            <a href="{% url 'closeMilestone' id=m.id %}" class="link-primary" style="margin-left: 10px;">Close</a>
            <a href="#" id="{{m.id}}" onclick="askToDeleteMilestoneModal(this.id)" class="link-primary" style="margin-left: 10px;">Delete</a>     
          </li>
          {% endif %}
          {% endfor %}

          {% else %}
          <p>There are no  milestones yet.</p>
          {% endif %}
          
        </ul> 
      </div>

      {% if milestones %}
      <div class="opened" id="Div2" style="display: none;">
        <ul class="list-group list-group-flush" style="margin-top: 10px;">
          {% for m in milestones %} 
          {% if m.status == 'Closed' %}
          <li class="list-group-item"> 
          <a  style="color: black; font-size: x-large;" href="{% url 'seeMilestone' id=m.id %}" class="card-title">{{m.title}}</a>
          <div class="progress" style="width: 600px; margin-top: -20px; margin-left: 350px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{m.get_completed_percentage}}%" aria-valuenow="{{m.get_completed_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div style="margin-left: 350px; margin-top: 10px;" class="row">
          <p> <b>{{m.get_completed_percentage}}%</b>  complete</p>
          <a href="#" style="margin-left: 20px; color: black;" > <b>{{m.get_opened_issues_number}}</b> open</a>
          <a href="#" style="margin-left: 20px; color: black;"> <b>{{m.get_closed_issues_number}}</b> closed </a>
          </div>
          <p class="card-text" style="margin-top: -40px;">{{m.description}}</p>
          {% if m.due_date_passed %}
          <p class="card-text">{% bs_icon 'exclamation-triangle' size='1em' %} Passed due: {{m.passed_days_count}} days ago</p>
          {% elif m.due_date != None %}
          <p class="card-text">{% bs_icon 'calendar-check' size='1em' %} Due by: {{m.due_date}}</p>
          {% else %}
          <p class="card-text">{% bs_icon 'calendar-check' size='1em' %} No due date</p>
          {% endif %}
          <a href="{% url 'getMilestoneById' id=m.id %}" class="link-primary">Edit</a>
          <a href="{% url 'reopenMilestone' id=m.id %}" class="link-primary" style="margin-left: 10px;">Reopen</a>
          <a href="#" id="{{m.id}}" onclick="askToDeleteMilestoneModal(this.id)" class="link-primary" style="margin-left: 10px;">Delete</a>     
          </li>
          {% endif %}
          
          {% endfor %}
          {% endif %}
        </ul> 
        </div>
        </div>
    </div>
        {%endblock%}

        {% block javascript %}
        <script>
          document.getElementById('searchAll').style.display = 'none';
          var el = document.getElementById('open');
          el.onclick = opened;
          document.getElementById('open').style.color = "black";

          var el2 = document.getElementById('close');
          el2.onclick = closed;
    
          function opened() {
              if (document.getElementById('Div1')) {
                  document.getElementById('Div1').style.display = 'block';
                  document.getElementById('Div2').style.display = 'none';
                  document.getElementById('open').style.color = "black";
                  document.getElementById('close').style.color = "darkgray";
              }
          }
    
          function closed(){
              if (document.getElementById('Div2')) {
                  document.getElementById('Div2').style.display = 'block';
                  document.getElementById('Div1').style.display = 'none';
                  document.getElementById('close').style.color = "black";
                  document.getElementById('open').style.color = "darkgray";
              }
          }

          function searchAll(){
            document.getElementById('searchAll').style.display = 'block';
            document.getElementById('searchRepo').style.display = 'none';
          }
          setTimeout(function(){
            if ($('#msg').length > 0) {
              $('#msg').remove();
            }
          }, 2000)
          function askToDeleteMilestoneModal(id) {
              $('#delete_milestone_' + id).modal('show')
          }
        </script>
        {% endblock %}
</body>
</html>