{% extends 'repository/index.html' %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block navCode %}
    <li class="nav-item">
      <a class="nav-link active" style=" color: black;" id="code" href="{% url 'repository' id=repository.id %}" aria-current="page">{% bs_icon 'code' size='1em' %} Code</a>
    </li>
    {% endblock %}

    {% block navMilestones %}
      <li class="nav-item">
        <a class="nav-link" id="milestones" style="border-bottom:3px solid darkviolet;color: black;" href="{% url 'milestones' id=repository.id  %}">{% bs_icon 'signpost' size='1em' %} Milestones</a>
      </li>
    {% endblock %}
    {%block page_content%}
        <div class="tab-pane container active" id="milestones" style="margin-right: 60px;">
            <a href="{% url 'new_issue' id=repository.id %}" style="margin-left: 763px; margin-top: -25px;" type="button" class="btn btn-success" >New issue</a>
        {% if milestone %}
        <h3>{{milestone.title}}</h3>
        <div class="progress" style="width: 350px; margin-top: 10px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p style="margin-top: 10px;" class="card-text">{% bs_icon 'calendar-check' size='1em' %} Due by: {{milestone.due_date}} 
            <span style="margin-left: 20px;"></span>
            {{percentage}}% complete
        </p>

        <div class="card" style="width: 870px;">
            <div class="card-header" style="background-color: #d7f0db;">
                {% bs_icon 'record-circle' size='1em' %} <a style="color: darkgray" href="#" id="open" > {{opened_issues_count}} Open </a>
                <span style="margin-left: 15px;"></span>
                {% bs_icon 'check-circle' size='1em' %}<a style="color:darkgray;" href="#" id="close" >{{closed_issues_count}} Closed </a>
            </div>

            {% if issues %}
            <div class="opened" id="Div1">
            <ul class="list-group list-group-flush">
                    {% for i in issues %} 
                    {% if i.state == 'Opened' %}
                    <li class="list-group-item" style="height: 95px;"> 
                        <a style="margin-left: -4px;" class="nav-link" href="{% url 'view_found_issue' id=i.id %}">{% bs_icon 'record-circle' size='1em' %}{{i.issue_title}}</a>
                        <small style="margin-left: 15px;color: gray;">
                            opened by <b>{{i.opened_by}}</b> and assigned to <b>{{i.assignee}}</b>
                        </small>
                    </li>
                    {% endif %}
                    {% endfor %}

            {% else %}
            <p>There are no  issues yet.</p>
            {% endif %}
            </ul> 
        </div>

            {% if issues %}
            <div class="closed" id="Div2" style="display: none;">
            <ul class="list-group list-group-flush">
                    {% for i in issues %} 
                    {% if i.state == 'Close' %}
                    <li class="list-group-item" style="height: 95px;"> 
                        <a style="margin-left: -4px;" class="nav-link" href="{% url 'view_found_issue' id=i.id %}">{% bs_icon 'check-circle' size='1em' %}{{i.issue_title}}</a>
                        <small style="margin-left: 15px;color: gray;">
                            opened by <b>{{i.opened_by}}</b> and assigned to <b>{{i.assignee}}</b>
                        </small>
                    </li>
                    {% endif %}
                    {% endfor %}
            {% endif %}
            </ul> 
        </div>
        </div>
           
        {% else %}
        <p>There are no issues yet.</p>
        {% endif %}
        </div>
        {%endblock%}

    {% block javascript %}
    <script>
        var el = document.getElementById('open');
        el.onclick = opened;
        document.getElementById('open').style.color = "black";

        var el2 = document.getElementById('close');
        el2.onclick = closed;

        function opened() {
            if (document.getElementById('Div1')) {
                document.getElementById('Div1').style.display = 'block';
                document.getElementById('Div2').style.display = 'none';
                document.getElementById('open').style.color = "black";
                document.getElementById('close').style.color = "darkgray";
            }
        }

        function closed(){
            if (document.getElementById('Div2')) {
                document.getElementById('Div2').style.display = 'block';
                document.getElementById('Div1').style.display = 'none';
                document.getElementById('close').style.color = "black";
                document.getElementById('open').style.color = "darkgray";
            }
        }
    </script>
    {% endblock %}
</body>
</html>