{% extends 'repository/index.html' %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block navCode %}
    <li class="nav-item">
      <a class="nav-link active" style=" color: black;" id="code" href="{% url 'repository' id=repository.id %}" aria-current="page">{% bs_icon 'code' size='1em' %} Code</a>
    </li>
    {% endblock %}

    {% block navMilestones %}
      <li class="nav-item">
        <a class="nav-link" id="milestones" style="border-bottom:3px solid darkviolet;color: black;" href="{% url 'milestones' id=repository.id  %}">{% bs_icon 'signpost' size='1em' %} Milestones</a>
      </li>
    {% endblock %}

    {%block page_content%}
        <div class="tab-pane container active" id="milestones" style="margin-right: 60px;">
          <div style="margin-top: 15px; margin-left: -95px; max-width: 1000px;">
            {% include 'messages.html' %}
          </div>
          <a href="{% url 'newMilestone' id=repository.id %}" style="margin-left: 763px; margin-top: -25px;" type="button" class="btn btn-success" >New milestone</a>
        {% if milestones %}
        {% for m in milestones %}
        <div class="card border-secondary mb-3" style="margin-top: 15px; margin-left: -95px; max-width: 1000px;">
            {% if m.status == 'Opened' %}
            <div class="card-header" style="background-color: #d7f0db;">
                {% bs_icon 'activity' size='1em' color='green' %} <span style="padding-left:15px">{{m.status}}</span>  <span style="padding-left:20px; color: green;"> {{pr.status}}</span>
            </div>
            {% else %}
            <div class="card-header" style="background-color: #e9d7f0;">
                {% bs_icon 'activity' size='1em' color='purple' %} <span style="padding-left:15px">{{m.status}}</span> <span style="padding-left:20px; color: purple;"> {{pr.status}}</span>
            </div>
            {% endif %}
            <div class="card-body">
            <a  style="color: black; font-size: x-large;" href="{% url 'seeMilestone' id=m.id %}" class="card-title">{{m.title}}</a>
            <div class="progress" style="width: 600px; margin-top: -20px; margin-left: 350px;">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{m.get_completed_percentage}}%" aria-valuenow="{{m.get_completed_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div style="margin-left: 350px; margin-top: 10px;" class="row">
            <p> <b>{{m.get_completed_percentage}}%</b>  complete</p>
            <a href="#" style="margin-left: 20px; color: black;" > <b>{{m.get_opened_issues_number}}</b> open</a>
            <a href="#" style="margin-left: 20px; color: black;"> <b>{{m.get_closed_issues_number}}</b> closed </a>
            </div>
            <p class="card-text" style="margin-top: -40px;">{{m.description}}</p>
            {% if m.due_date_passed %}
            <p class="card-text">{% bs_icon 'exclamation-triangle' size='1em' %} Passed due: {{m.passed_days_count}} days ago</p>
            {% elif m.due_date != None %}
            <p class="card-text">{% bs_icon 'calendar-check' size='1em' %} Due by: {{m.due_date}}</p>
            {% else %}
            <p class="card-text">{% bs_icon 'calendar-check' size='1em' %} No due date</p>
            {% endif %}
            <a href="{% url 'getMilestoneById' id=m.id %}" class="link-primary">Edit</a>
            <a href="#" id="{{m.id}}" onclick="askToDeleteMilestoneModal(this.id)" class="link-primary" style="margin-left: 10px;">Delete</a>
            <!-- DELETE MODAL -->
            <div class="modal" id="delete_milestone_{{m.id}}" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Do you want to delete milestone with title <i>{{m.title}}</i> ?</p>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'deleteMilestone' id=m.id %}" role="button">Yes</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>There are no milestones yet.</p>
        {% endif %}
        </div>
        {%endblock%}
        {% block javascript %}
        <script>
          document.getElementById('searchAll').style.display = 'none';

          function searchAll(){
            document.getElementById('searchAll').style.display = 'block';
            document.getElementById('searchRepo').style.display = 'none';
          }
          setTimeout(function(){
            if ($('#msg').length > 0) {
              $('#msg').remove();
            }
          }, 2000)
          function askToDeleteMilestoneModal(id) {
              $('#delete_milestone_' + id).modal('show')
          }
        </script>
        {% endblock %}
</body>
</html>