{% extends 'home/index.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}
    <ul class="nav nav-tabs" style="margin-left: 200px; margin-right: 200px; margin-top: 20px;">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#opened">Opened</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#closed">Closed</a>
        </li>
    </ul>

    <div class="tab-content" style="margin-left: 150px;">
        <div class="tab-pane container active" id="Opened">
            {% for pr in openedPRs %}
            <div class="card border-secondary mb-3" style="margin-top: 5px; margin-left: 10px; max-width: 1000px;">
                <div class="card-header">
                    {% bs_icon 'bezier' size='1em' color='green'%} {{pr.name}} {{pr.status}}
                    <p class="card-text" style="margin-left: 20px;">Opened -date- by </p>
                </div>
            </div>          
            {% endfor %}
        </div>
        <div class="tab-pane container fade" id="Closed">
            {% for pr in closedPRs %}
            <div class="card border-secondary mb-3" style="margin-top: 5px; margin-left: 10px; max-width: 1000px;">
                <div class="card-header">
                    {% bs_icon 'bezier' size='1em' color='green'%} {{pr.name}} {{pr.status}}
                    <p class="card-text" style="margin-left: 20px;">Closed -date- by </p>
                </div>
            </div>          
            {% endfor %}
        </div>
    </div>
{% endblock %}