{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} UksGithub {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    {% block content %}
    <div class="welcome">
        <div class="card" style="width: 200px;position: absolute;top: 120px;margin-left: 30px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);">
            <img src="{% static 'images/img_avatar.png' %}" alt="Avatar" style="width:100%;">
            <div class="container" style="font-size: 15px;">
                <b>{{request.user.first_name}} {{request.user.last_name}}</b>
                <br>
                <i style="color: silver;">{{request.user.get_username}}</i>
                <br>
                <i style="color: silver;">{{request.user.email}}</i>
                <br>
                <hr>
                <div style="font-size: 12px;">
                    X followers &nbsp;&nbsp;&nbsp;Y following
                </div>
                <br>
                <a href="#" class="btn btn-primary btn-sm">Edit profile</a>
            </div>
        </div>
    </div>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" style="margin-left: 350px;">
        <li class="nav-item">
            {% block navRepository %}
            <a class="nav-link active" data-toggle="tab" href="#repositories">Repositories</a>
            {% endblock %}
        </li>
        <li class="nav-item">
            {% block navIssue %}
            <a class="nav-link" data-toggle="tab" href="#issues">Issues</a>
            {% endblock %}
        </li>
        <li class="nav-item">
            {% block navProject %}
            <a class="nav-link" data-toggle="tab" href="#projects">Projects</a>
            {% endblock %}
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="repositories" style="margin-left: 350px;">
        {% block tabRepository %}
        <a  href="{% url 'newRepository' %}" style="margin-left: 770px; margin-top: 25px;" type="button" class="btn btn-success" >New repository</a> 
        <div class="tab-pane container active" id="repositories">
            {% if my_repositories %}
                {% for repo in my_repositories %}
                    <a  class="nav-link" href="{% url 'repository' id=repo.id %}">{{repo.creator_id}} / {{repo.name}}</a>
                {% endfor %}
            {% endif %}
        </div>
        {% endblock %}

        {% block tabIssue %}
        <div class="tab-pane container fade" id="issues">
            Space for issues
        </div>
        {% endblock %}

        {% block tabProject %}
        <div class="tab-pane container fade" id="projects">
            Space for projects
        </div>
        {% endblock %}

    </div>

    {% endblock %}
</body>

