.welcome {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
}


#wtitle{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 30px;
    margin-left: 20px;
    color: rgb(52, 31, 128);
}

#text{
    color:rgb(0, 0, 0);
    grid-column-start: 1;
    margin-left: 25px;
    margin-top: 10px;
    font-size: large;
}


body {
    margin: 0px;
    }

nav .navbar-nav li a:hover {
    background-color: rgb(66, 54, 54);
    
}

nav .navbar-nav li a{
    color: white !important;
}

.container{
    margin-top: 5%;
 }

 .left {
    margin: 0px;
    float: left;
    width: 30%;
  
  }
  .header, .footer{
    background-color: lightblue;
    clear: left;
    width:100%;
    border: solid black 1px;
  }
  
  .center{
   margin-left: 30%;
   width: 70%;
   border-left: solid black 1px;
  }
  
  
  .page{
    text-align: center;
    margin: auto;
    min-width: 50%;
    width: 80%;
  }
  
  table{
    margin: 0 auto;
  }
  
  .label{
   clear: left;
  }
  
  .greska{
    color: red;
  }

  .popover__wrapper {
    position: relative;
    margin-top: -2.6rem;
    display: inline-block;
  }

  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -50px;
    margin-left: 750px ;
    margin-top: 25px;
    transform: translate(0, 10px);
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }

  .emoji_style{
    border-color: transparent;
    background-color: transparent;
    height: 40px;
    width: 40px;
    font-size:20px;
    color: #ffffff;
  }

  .emoji_table{
    margin-bottom: 100px;
  }

  .popover__wrapper2 {
    position: relative;
    margin-top: -2.6rem;
    display: inline-block;
  }

  .popover__content2 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -50px;
    margin-left: 890px ;
    margin-top: 25px;
    transform: translate(0, 10px);
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
  }
  .popover__content2:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper2:hover .popover__content2 {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message2 {
    text-align: center;
  }

  .more_tools{
    text-align: center; 
    border: transparent; 
    background-color: transparent;
    width: auto;
  }

  .delete_button{
    text-align: left; 
    border: transparent; 
    background-color: transparent;
    width: 140px;
    font-size: larger;
  }
  
  .delete_button:hover{
    background: rgb(236, 91, 91);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .functionalities_button{
    text-align: left; 
    border: transparent; 
    background-color: transparent;
    width: 140px;
    font-size: larger;
  }
  
  .functionalities_button:hover{
    background: rgb(207, 207, 207);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }