.welcome {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
}


#wtitle{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 30px;
    margin-left: 20px;
    color: rgb(52, 31, 128);
}

#text{
    color:rgb(0, 0, 0);
    grid-column-start: 1;
    margin-left: 25px;
    margin-top: 10px;
    font-size: large;
}


body {
    margin: 0px;
    }

nav .navbar-nav li a:hover {
    background-color: rgb(66, 54, 54);
    
}

nav .navbar-nav li a{
    color: white !important;
}

.container{
    margin-top: 5%;
 }

 .left {
    margin: 0px;
    float: left;
    width: 30%;
  
  }
  .header, .footer{
    background-color: lightblue;
    clear: left;
    width:100%;
    border: solid black 1px;
  }
  
  .center{
   margin-left: 30%;
   width: 70%;
   border-left: solid black 1px;
  }
  
  
  .page{
    text-align: center;
    margin: auto;
    min-width: 50%;
    width: 80%;
  }
  
  table{
    margin: 0 auto;
  }
  
  .label{
   clear: left;
  }
  
  .greska{
    color: red;
  }