#branchTable{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.table_content{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}