{% extends 'home/profile.html' %}
{% load static %}
{% load bootstrap_icons %}

<body>
    {% block navCode %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'repository' id=repository.id %}" style= "color: black;" id="code" aria-current="page">{% bs_icon 'code' size='1em' %} Code</a>
      </li>
    {% endblock %}

    {% block navIssues %}
      <li class="nav-item">
        <a class="nav-link"  id="issues" style="border-bottom:3px solid darkviolet;color: black;" href="{% url 'issues' id=repository.id  %}">{% bs_icon 'record-circle' size='1em' %} Issues</a>
      </li>
    {% endblock %}
{% block page_content %}
<div class="tab-pane container" id="issues">
    <table class="table">
        <tbody>
            {% if my_issues %}
                {% for issue in my_issues %}
                    <tr>
                        <td>
                            <a  class="nav-link" href="{% url 'view_issue' id=issue.id %}">{{issue.issue_title}}</a>
                            <small style="margin-left: 15px;color: gray;">
                                opened by <b>{{issue.opened_by}}</b> and assignee to <b>{{issue.assignee}}</b>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>There are no issues yet.</p>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock page_content%}
</body>