{% extends 'repository/index.html' %}
{% load static %}
{% load bootstrap_icons %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    {% block navCode %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'repository' id=repository.id %}" style= "color: black;" id="code" aria-current="page">{% bs_icon 'code' size='1em' %} Code</a>
      </li>
    {% endblock %}

    {% block navIssues %}
      <li class="nav-item">
        <a class="nav-link"  id="issues" style="border-bottom:3px solid darkviolet;color: black;" href="{% url 'issues' id=repository.id  %}">{% bs_icon 'record-circle' size='1em' %} Issues</a>
      </li>
    {% endblock %}

    {% block page_content %}
    <div class="tab-pane container active" id="issues">
    <h2 style="margin-top: -20px;">Issue</h2>
        <form style="margin-top: 20px; margin-left: -12px;" method="POST" action="{% url 'update_issue' id=issue.id %}"> 
            {% csrf_token %}
            <div style="margin-left: 800px;position: absolute;margin-top: -70px;">
                Assignees:
                <br>
                <select name="developers" style="min-width:100px;border-radius: 6px;border: 2px solid #AAA;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);" class="selectpicker" multiple data-live-search="true">
                    {% for dev in developers.all %}
                        {% if dev in  issue.assignees.all %} 
                            <option value="{{ dev.username }}" selected>{{ dev.username }}</option>
                        {% else %}      
                            <option value="{{ dev.username }}">{{ dev.username }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <hr color='gray' style=" box-shadow: 0 0 2px 0.5px gray;">
                Labels:
                <br>
                <select name="labels_ids" style="min-width:100px;border-radius: 6px;border: 2px solid #AAA;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);" class="selectpicker" multiple data-live-search="true">
                    {% for lab in labels.all %}
                        {% if lab in  issue.labels.all %} 
                            <option value="{{ lab.id }}" class="badge badge-pill d-inline-flex align-items-center justify-content-center  " style="margin-top: 5px; margin-left: 5px; font-size: 0.9em;  height: 30px;display: inline-block;  
                            background-color: {{ lab.color }}" selected>{{ lab.name }}</option>
                        {% else %}      
                            <option value="{{ lab.id }}" class="badge badge-pill d-inline-flex align-items-center justify-content-center  " style="margin-top: 5px; margin-left: 5px; font-size: 0.9em;  height: 30px;display: inline-block;  
                            background-color: {{ lab.color }}">{{ lab.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <hr color='gray' style=" box-shadow: 0 0 2px 0.5px gray;">
                Projects:
                <br>
                <select name="projects_ids" style="min-width:100px;border-radius: 6px;border: 2px solid #AAA;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);" class="selectpicker" multiple data-live-search="true">
                    {% for p in projects.all %}
                        {% if p in  issue.projects.all %} 
                            <option value="{{ p.id }}" selected>{{ p.name }}</option>
                        {% else %}      
                            <option value="{{ p.id }}">{{ p.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <hr color='gray' style=" box-shadow: 0 0 2px 0.5px gray;">
                Milestone:
                <br>
                <select name="milestone_id"  style="min-width:100px;border-radius: 6px;border: 2px solid #AAA;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);" class="selectpicker" multiple data-max-options="1" data-live-search="true">
                    {% for m in milestones %}
                        {% if m.id == issue.milestone.id %}
                            <option value="{{ m.id }}" selected>{{ m.title }} (Due by: {{m.due_date}})</option>
                        {% else %}
                            <option value="{{ m.id }}">{{ m.title }} (Due by: {{m.due_date}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <hr color='gray' style=" box-shadow: 0 0 2px 0.5px gray;">
                Linked pull request:
                <br>
                <select name="pullrequests_ids" style="min-width:100px;border-radius: 6px;border: 2px solid #AAA;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);" class="selectpicker" multiple data-live-search="true">
                    {% for pr in pullrequests.all %}
                        {% if pr in  issue.pullrequests.all %} 
                            <option value="{{ pr.id }}" selected>{{ pr.name }}</option>
                        {% else %}      
                            <option value="{{ pr.id }}">{{ pr.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <hr color='gray' style=" box-shadow: 0 0 2px 0.5px gray;">
                <br><br><br>   
            </div>
            <br>
            <div class="form-group col-md-6">
                <h5>Title</h5> 
                <input type="text" class="form-control" id="title" name="title" value="{{ issue.issue_title }}" required>
            </div>
            
            {% if errorTitle %}
            <div style="color: red; margin-left: 14px;" >{{errorTitle}}</div>
            {% endif %}
            <div class="form-group col-md-6">
                <h5 for="description">Description</h5>
                <textarea class="form-control col-md-12" id="description" rows="4" name="description">{{issue.description}}</textarea>
            </div>
            <div class="form-check form-check-inline">
                {% if issue.state == 'Opened' %}
                    <input class="form-check-input" type="radio" name="state" id="inlineRadio1" value="Opened" checked>
                {% else %}
                    <input class="form-check-input" type="radio" name="state" id="inlineRadio1" value="Opened">
                {% endif %}
                <label class="form-check-label" for="inlineRadio1" checked>Open</label>
            </div>
            <div class="form-check form-check-inline">
                {% if issue.state == 'Close' %}
                    <input class="form-check-input" type="radio" name="state" id="inlineRadio2" value="Close" checked>
                {% else %}
                    <input class="form-check-input" type="radio" name="state" id="inlineRadio2" value="Close">
                {% endif %}
                <label class="form-check-label" for="inlineRadio2">Closed</label>
            </div>
            <br><br>

            <!-- TIMELINE -->
            <br><br>
            <div class="tab-content timeline" style="margin-top: 50px;">
                <div class="tab-pane container active" id="conversation"> 
                    {% for c in comments %}
                    <div class="card border-secondary mb-3" style="margin-top: 15px;  max-width: 1000px; background-color: #cde9e9;">
                        <p style="margin-top: 10px; margin-left: 10px;">  {% bs_icon 'person-circle' size='1.5em'%} <b>{{c.author.username}}</b> commented {{ c.created_date|naturaltime }}</p>
                        {% if pullrequest.creator.username == c.author.username %}
                            <span style="margin-top: -42px; margin-left: 770px;">
                            <p style="border:1px; 
                                border-style:solid; 
                                border-color:#53adad; 
                                width: 90px; height: 30px; 
                                border-radius: 10px;
                                text-align: center; color: gray;">Author</p>
                            </span>
                        {% endif %}
                        <div class="popover__wrapper">
                            <a href="#" style="width: 40px; margin-left: 880px; background-color: transparent; border-color: transparent;">
                                {% bs_icon 'emoji-smile' size='1.5em' color='gray' %} 
                            </a>
                            <div class="popover__content">
                                <form method="POST" action="{% url 'add_emoji_issue' id=c.id pr_id=issue.id %}">
                                {% csrf_token %}
                                    <p style="text-align: center;">Pick your reaction</p>
                                    <hr>
                                    <table>
                                        <tr class="emoji_table">
                                            {% for e in emojis %}
                                                <th class="emoji_table"><button name="emoji" value={{e}} href="{% url 'add_emoji_issue' id=c.id pr_id=issue.id %}" style="color: white;" class="emoji_style">&#{{e}};</button></th>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="popover__wrapper2" style="width: 20px; margin-left: 5px; margin-top:-25px; background-color: transparent; border-color: transparent;">
                            <a href="#" style="width: 20px; margin-left: 920px; background-color: transparent; border-color: transparent;">
                               {% bs_icon 'three-dots' size='1.5em' color='gray' %} 
                            </a>
                            <div class="popover__content2" style="width: 180px; ">
                                <button class="functionalities_button" value="{{c.content}}" onclick="quote_comment(this.value);" >Quote replay</button>
                                <hr>
                                <table>
                                    <tr>
                                        <th><button class="functionalities_button" onclick="enable_textarea();">Edit</button></th>
                                    </tr>
                                    <tr>
                                        <th><a type="button" href="{% url 'delete_comment_issue' id=c.id pr_id=issue.id %}" class="delete_button" style="text-align: left; 
                                            border: transparent; 
                                            background-color: transparent;
                                            margin-left: 5px;
                                            color: red;
                                            width: 140px;
                                            font-size: large;">Delete</a>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card-header" style="background-color: white; margin-top: 5px;">
                            <textarea id="comment_content_edit" name="comment_content_edit" aria-disabled="true"  style=" width:600px;resize: none; border-color: transparent; background-color: transparent;" disabled=true style="border-color: white;">{{c.content}}</textarea>
                            {% for e in c.emojis.all%}
                                <th style="width: 40px;">
                                    <button name="emoji" value={{e.name}} href="{% url 'add_emoji_issue' id=c.id pr_id=issue.id%}" 
                                    style="border:1px; 
                                    border-style:solid; 
                                    border-color:#53adad; 
                                    width: 70px; height: 30px; 
                                    border-radius: 10px;
                                    background-color: #cde9e9;
                                    text-align: center;">&#{{e.name}}; 
                                    <span style="margin-left: 10px;">
                                        {% if e.name == '129505' %}
                                            {{c.get_emoji_heart}}
                                        {% elif e.name == '128640' %}
                                            {{c.get_emoji_rocket}}
                                        {% elif e.name == '128577' %}
                                            {{c.get_emoji_sad}}
                                        {% elif e.name == '128512' %}
                                            {{c.get_emoji_happy}}
                                        {% elif e.name == '128077' %}
                                            {{c.get_emoji_like}}
                                        {% elif e.name == '128078' %}
                                            {{c.get_emoji_dislike}}
                                        {% elif e.name == '128064' %}
                                            {{c.get_emoji_eyes}}
                                        {% elif e.name == '127881' %}
                                            {{c.get_emoji_party}}
                                        {% endif %}
                                        </span>
                                    </button>
                                </th>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% for h in issue.history.all %}
                    {% if h.object_type == 'Issue_milestone' %}
                        <div  class="row " style="margin-left: 8px; margin-top: 8px;">
                            <p style="background: rgb(206, 206, 206);
                            padding:5px;
                            border-color: white;
                            border-width: 2px;
                            margin-right: 8px;
                            border-style: solid;
                            border-radius: 50%;">{% bs_icon 'signpost' size='1.5em' color='gray' %}</p>
                            <p style="margin-top: 4px;">{% bs_icon 'person-circle' size='1.5em' %}<b>{{h.user.username}}</b> {{h.message}} </p>
                            {% for m in milestones %}
                                {% if h.changed_object_id == m.id %}
                                    <a href="{% url 'seeMilestone' id=m.id%}" style="margin-left: 4px; margin-right: 4px; margin-top: 5px; font-size: 14;">{{m.title}}</a>
                                    <p style="margin-top: 4px; margin-left: 4px; color: rgb(206, 206, 206);">{{ h.created_date|naturaltime }} </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% elif h.object_type == 'Issue_label' %}
                        <div  class="row" style="margin-left: 8px; margin-top: 8px;">
                        <p style="background: rgb(206, 206, 206);
                            padding:5px;
                            border-color: white;
                            margin-right: 8px;
                            border-width: 2px;
                            border-style: solid;
                            border-radius: 50%;">{% bs_icon 'tag' size='1.5em' color='gray' %}</p>
                            <p style="margin-top: 4px;">{% bs_icon 'person-circle' size='1.5em' %}<b>{{h.user.username}}</b> {{h.message}} </p>
                            {% for l in labels %}
                                {% if h.changed_object_id == l.id %}
                                    <span  class="badge badge-pill d-inline-flex align-items-center justify-content-center  "
                                        style="margin-left: 5px; margin-top: 4px; font-size: 0.9em;  height: 30px; width: auto;
                                        background-color:{{l.color}}">{{l.name}}
                                    </span> 
                                    <p style="margin-top: 4px; margin-left: 4px; color: rgb(206, 206, 206);">{{ h.created_date|naturaltime }} </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% elif h.object_type == 'Issue_assignee' %}
                        <div  class="row" style="margin-left: 8px; margin-top: 8px;">
                            <p style="background: rgb(206, 206, 206);
                                padding:5px;
                                border-color: white;
                                border-width: 2px;
                                margin-right: 8px;
                                border-style: solid;
                                border-radius: 50%;">{% bs_icon 'person' size='1.5em' color='gray' %}</p>
                                <p style="margin-top: 4px;">{% bs_icon 'person-circle' size='1.5em' %}<b>{{h.user.username}}</b> </p>
                            {% if developers.all %}
                                {% for a in developers.all %} 
                                    {% if h.changed_object_id == a.id %}
                                        {% if h.user.username == a.username %}
                                            <p style="margin-top: 4px; margin-left: 4px;">self-assigned this </p>
                                        {% else %}
                                            <p style="margin-top: 4px; margin-left: 4px;"> {{h.message}} </p>
                                            <a href="{% url 'visit_profile' id=a.id %}" style="margin-left: 8px; font-size: 14; margin-top: 7px;">{{a.username}}</a>
                                        {% endif %}
                                            <p style="margin-top: 4px; margin-left: 4px; color: rgb(206, 206, 206);">{{ h.created_date|naturaltime }} </p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% elif h.object_type == 'Issue_project' %}
                        <div  class="row" style="margin-left: 8px; margin-top: 8px;">
                        <p style="background: rgb(206, 206, 206);
                            padding:5px;
                            border-color: white;
                            border-width: 2px;
                            margin-right: 8px;
                            border-style: solid;
                            border-radius: 50%;">{% bs_icon 'layout-text-window-reverse' size='1.5em' color='gray' %}</p>
                            <p style="margin-top: 4px;">{% bs_icon 'person-circle' size='1.5em' %}<b>{{h.user.username}}</b> {{h.message}} </p>
                            {% for p in projects %}
                                {% if h.changed_object_id == p.id %}
                                    <a  style="margin-left: 8px; font-size: 14; margin-top: 6px;">{{p.name}}</a>
                                    <p style="margin-top: 4px; margin-left: 4px; color: rgb(206, 206, 206);">{{ h.created_date|naturaltime }} </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% elif h.object_type == 'Issue_changes' %}
                        <div  class="row" style="margin-left: 8px; margin-top: 8px;">
                        <p style="background: rgb(206, 206, 206);
                            padding:5px;
                            border-color: white;
                            border-width: 2px;
                            margin-right: 8px;
                            border-style: solid;
                            border-radius: 50%;">{% bs_icon 'eye' size='1.5em' color='gray' %}</p>
                            <p style="margin-top: 4px;">{% bs_icon 'person-circle' size='1.5em' %}<b>{{h.user.username}}</b> {{h.message}} </p>
                            <p style="margin-top: 4px; margin-left: 4px; color: rgb(206, 206, 206);">{{ h.created_date|naturaltime }} </p>
                        </div>
                    {% elif h.object_type == 'Issue_pullrequest' %}
                        <div  class="row" style="margin-left: 8px; margin-top: 8px;">
                        <p style="background: rgb(56, 167, 61);
                            padding:5px;
                            border-color: white;
                            border-width: 2px;
                            margin-right: 8px;
                            border-style: solid;
                            border-radius: 50%;">{% bs_icon 'check2' size='1.5em' color='white' %}</p>
                            <p style="margin-top: 4px;">{% bs_icon 'person-circle' size='1.5em' %}<b>{{h.user.username}}</b> {{h.message}} </p>
                            {% for r in pullrequests.all %}
                                {% if h.changed_object_id == r.id %}
                                    <a href="{% url 'updatePullrequestPage' id=r.id %}" style="margin-left: 8px; font-size: 14; margin-top: 6px;">{{r.name}}</a>
                                    <p style="margin-top: 4px; margin-left: 4px; color: rgb(206, 206, 206);">{{ h.created_date|naturaltime }} </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br><br>
            <hr>
            {% for developer in repository.developers.all %}
                {% if developer.id == request.user.id %}
                    <input type="submit" style="margin-left: 12px; margin-top: 5px;"  class="btn btn-success" value="Update">
                {% else %}
                    <input type="submit" style="margin-left: 12px; margin-top: 5px;"  class="btn btn-success" value="Update" disabled>
                {% endif %}
            {% endfor %}
        </form>
        <form style="margin-top: 20px; margin-left: -12px;" method="POST" action="{% url 'add_comment_issue' id=issue.id %}"> 
            {% csrf_token %}
            <div class="container" style="margin-left: 9px;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#write">Write</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container active" id="write"> 
                        {% if error%}
                            <h6 style="color: red;">{{error}}</h6>
                        {%endif%}
                        <textarea class="form-control col-md-12" id="comment" rows="4" name="comment" placeholder="Leave a comment" style="background-color: #E5E8E8;"></textarea>
                        <hr style="border-color: white;">
                    </div>
                </div>
                <input type="submit" style=" margin-left: 980px; margin-bottom: 20px;"  class="btn btn-success" value="Comment">
            </div>
        </form>
    </div>  
    {% endblock %}

    {% block javascript %}
    <script>
        var quoted_comments = ""
        var typed_text = ""
        function quote_comment(c) {
            this.typed_text = document.getElementById("comment").value.concat("\n");
            this.quoted_comments = typed_text.concat(c + "\n")

            document.getElementById("comment").value = quoted_comments;
        }

        function enable_textarea(){
            console.log("cdscscds")
            document.getElementById("comment_content_edit").disabled=false;
            document.getElementById("comment_content_edit").style.backgroundColor = "#E5E8E8";
            document.getElementById("update_comment").hidden=false;
        }
    </script>
    {% endblock %}
</body>
</html>