{% extends 'insights/base_insights.html' %}



{% block side-pulse %}
    <a class="active" style="border-bottom: 2px solid black;" href="{% url 'insights:pulse' id=repository.id days=1 %}">Pulse</a>
{% endblock %}

{% block side-contributors %}
        <a style="border-left:3px solid darkviolet;" href="{% url 'insights:contributors' id=repository.id days=3 %}">Contributors</a>
{% endblock %}



{% block chart_block %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<div class="chart">

    <div class="info">
        {% if days == 3 %} <h2>Last 3 days</h2> {% endif %}
        {% if days == 7 %} <h2>Last week</h2> {% endif %}
        {% if days == 30 %} <h2>Last month</h2> {% endif %}
        {% if days == 365 %} <h2>Last year</h2> {% endif %}

    
      </div>
    
    <div class="chart_up">
        <select class="selectpicker" data-live-search="true" data-size="5" onchange="location = this.value">
              <option value="{% url 'insights:contributors' id=repository.id days=3 %}" {% if days == 3 %} selected {% endif %} >3 days</option>
              <option value="{% url 'insights:contributors' id=repository.id days=7 %}" {% if days == 7 %} selected {% endif %} >1 week</option>
              <option value="{% url 'insights:contributors' id=repository.id days=30 %}" {% if days == 30 %} selected {% endif %} >1 month</option>
              <option value="{% url 'insights:contributors' id=repository.id days=365 %}" {% if days == 365 %} selected {% endif %} >1 year</option>

            </a>
    
          </select>
    </div>
    

    <div class="contributors_chart">

        <canvas id="myChart"></canvas>

    </div>

</div>

{% if days == 3 %}

<Script type="text/javascript">

var config2 = {
    type: 'line',
    data: {
      datasets: [{
        label: 'Commits',
        data: ["{{data.0}}", "{{data.1}}", "{{data.2}}"],
        backgroundColor: [
          '#17a800',
        ],
        fill: true,
        color: '#17a800',
      }],
      labels: ["{{labels.0}}", "{{labels.1}}", "{{labels.2}}"]
    },
    options: {
      responsive: true,
    }
  };

  window.onload = function() {

          var ctx2 = document.getElementById('myChart').getContext('2d');
          window.myPie2 = new Chart(ctx2, config2);
        };



</Script>

{% endif %}


{% if days == 7 %}

<Script type="text/javascript">

var config2 = {
    type: 'line',
    data: {
      datasets: [{
        label: 'Commits',
        data: ["{{data.0}}", "{{data.1}}", "{{data.2}}", "{{data.3}}", "{{data.4}}", "{{data.5}}", "{{data.6}}"],
        backgroundColor: [
          '#17a800'
        ],
        fill: true,
        color: '#17a800',
      }],
      labels: ["{{labels.0}}", "{{labels.1}}", "{{labels.2}}", "{{labels.3}}", "{{labels.4}}", "{{labels.5}}", "{{labels.6}}"]
    },
    options: {
      responsive: true,
    }
  };

  window.onload = function() {

          var ctx2 = document.getElementById('myChart').getContext('2d');
          window.myPie2 = new Chart(ctx2, config2);
        };



</Script>

{% endif %}

{% if days == 30 %}

<Script type="text/javascript">

var config2 = {
    type: 'line',
    data: {
      datasets: [{
        label: 'Commits',
        data: ["{{data.0}}", "{{data.1}}", "{{data.2}}", "{{data.3}}", "{{data.4}}", "{{data.5}}", "{{data.6}}", "{{data.7}}",
        "{{data.8}}", "{{data.9}}", "{{data.10}}", "{{data.11}}", "{{data.12}}", "{{data.13}}", "{{data.14}}",
        "{{data.15}}", "{{data.16}}", "{{data.17}}", "{{data.18}}", "{{data.19}}", "{{data.20}}", "{{data.21}}",
        "{{data.22}}", "{{data.23}}", "{{data.24}}", "{{data.25}}", "{{data.26}}", "{{data.27}}", "{{data.28}}",
        "{{data.29}}"],
        backgroundColor: [
          '#17a800',
        ],
        fill: true,
        color: '#17a800',
      }],
      labels: ["{{labels.0}}", "{{labels.1}}", "{{labels.2}}", "{{labels.3}}", "{{labels.4}}", "{{labels.5}}", "{{labels.6}}", "{{labels.7}}", "{{labels.8}}", "{{labels.9}}",
      "{{labels.10}}", "{{labels.11}}", "{{labels.12}}", "{{labels.13}}", "{{labels.14}}", "{{labels.15}}", "{{labels.16}}", "{{labels.17}}", "{{labels.18}}", "{{labels.19}}",
      "{{labels.20}}", "{{labels.21}}", "{{labels.22}}", "{{labels.23}}", "{{labels.24}}", "{{labels.25}}", "{{labels.26}}", "{{labels.27}}", "{{labels.28}}", "{{labels.29}}"
    ]
    },
    options: {
      responsive: true,
    }
  };

  window.onload = function() {

          var ctx2 = document.getElementById('myChart').getContext('2d');
          window.myPie2 = new Chart(ctx2, config2);
        };



</Script>

{% endif %}

{% if days == 365 %}

<Script type="text/javascript">

var config2 = {
    type: 'line',
    data: {
      datasets: [{
        label: 'Commits',
        data: ["{{data.0}}", "{{data.1}}", "{{data.2}}", "{{data.3}}", "{{data.4}}", "{{data.5}}", "{{data.6}}", "{{data.7}}",
        "{{data.8}}", "{{data.9}}", "{{data.10}}", "{{data.11}}"],
        backgroundColor: [
          '#17a800',
        ],
        fill: true,
        color: '#17a800',
      }],
      labels: ["{{labels.0}}", "{{labels.1}}", "{{labels.2}}", "{{labels.3}}", "{{labels.4}}", "{{labels.5}}", "{{labels.6}}", "{{labels.7}}", "{{labels.8}}", "{{labels.9}}",
      "{{labels.10}}", "{{labels.11}}",]
    },
    options: {
      responsive: true,
    }
  };

  window.onload = function() {

          var ctx2 = document.getElementById('myChart').getContext('2d');
          window.myPie2 = new Chart(ctx2, config2);
        };



</Script>

{% endif %}



{% endblock %}
