{% extends 'home/profile.html' %}
{% block page_content  %}
{% include 'messages.html' %}
<a  href="{% url 'newRepository' %}" style="margin-left: 770px; margin-top: 25px;" type="button" class="btn btn-success" >New repository</a> 
<div style="margin-top: 50;" class="row" id="repositories">
    {% if all_repositories %}
        {% for repo in all_repositories %}
            <div class="card border-secondary mb-3" style="margin-top: 15px; margin-left: 95px; width: 400px;">
                <div class="card-header">
                     {{repo.status}}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{repo.name}}</h5>
                <a href="{% url 'repository' id=repo.id %}">Open</a>
                <a href="{% url 'transferToEditRepository' id=repo.id %}" style="margin-left: 10px;">Edit</a>
                <a href="#" id="{{repo.id}}" onclick="askToDeleteRepoModal(this.id)" style="margin-left: 10px;">Delete</a>
                <!-- DELETE MODAL -->
                <div class="modal" id="delete_repo_{{repo.id}}" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Do you want to delete repository with name <i>{{repo.name}}</i> ?</p>
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary" href="{% url 'deleteRepository' id=repo.id %}" role="button">Yes</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {%else %}
        <p>No repositories </p>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
  <script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)

    function askToDeleteRepoModal(id) {
        $('#delete_repo_' + id).modal('show')
    }
  </script>
  {% endblock %}