{% extends 'repository/searchedRepoResult.html' %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} UksGithub {% endblock %}</title>
</head>
<body>
    
    {% block navIssues %}
    <li class="nav-item" style="border-style: outset">
      <form name="issuesForm" id="issuesForm" method="POST" action="{% url 'searched_repo_issues' id=repository.id %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" hidden  aria-label="Search" name="foundIssues" value="{{foundIssues}}" >
        <input class="form-control mr-sm-2" hidden  aria-label="Search" name="foundCommits" value="{{foundCommits}}" >
        <input class="form-control mr-sm-2" hidden  aria-label="Search" name="foundComments" value="{{foundComments}}" >
        <input class="form-control mr-sm-2" hidden  name="searchedWords" value="{{searchedWords}}" >
      <a class="nav-link" onclick="submitForm()">Issues<span class="badge badge-success" style="margin-left: 64px;">{{issues|length}}</span></a>
      </form>
    </li>
    {% endblock %}
  {% block navCommits %}
        <li class="nav-item" style="border-style: outset; border-left-color: darkviolet; border-left-width: 8px;">
          
          <form name="commitsForm" id="commitsForm" method="POST" action="{% url 'searchedCommits' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" hidden aria-label="Search" name="foundCommits" value="{{foundCommits}}" >
            <input class="form-control mr-sm-2" hidden  aria-label="Search" name="foundIssues" value="{{foundIssues}}" >
            <input class="form-control mr-sm-2" hidden  aria-label="Search" name="foundRepositories" value="{{foundRepositories}}" >
            <input class="form-control mr-sm-2" hidden  name="searchedWords" value="{{searchedWords}}" >
          <a class="nav-link" onclick="submitCommitsForm()">Commits<span class="badge badge-success" style="margin-left: 43px;">{{commits|length}}</span></a>
          </form>
         
        </li>   
        {% endblock %}

        {% block page_content %} 
    <div class="tab-pane container active" id="milestones" style="margin-right: -190px; margin-top: -132px;">
        <h5 style="margin-left: -99px;">{{commits|length}} commits results</h5>
    {% if commits %}
        {% for c in commits %}
        <div class="card border-secondary mb-3" style="margin-top: 15px; margin-left: -95px; max-width: 730px;">
          <div class="card-header" style="background-color: #d7f0db;">
            <span style="color: green;" class="iconify" data-icon="si-glyph:time-reload" data-width="22" data-height="20"></span> <span style="padding-left:5px">{{c.message}}</span>  
        </div>
            <div class="card-body">
            <p>Commited on {{c.date_time}}</p>
            <a href="{% url 'commit:viewFoundCommit' id=c.id %}" class="link-primary">Visit</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>There are no issues.</p>
    {% endif %}
    </div>
    {% endblock %}

</body>
</html>